@import "../_variables/variables";

.section-creativity {
    height: 100%;
}

.section-wrapper {
    height: 100%;
    display: flex;
}

.section {
    width: calc(100% - 340px);
    margin-left: 340px;
}

.section-content {
    display: grid;
    gap: 20px;
    padding: 20px;

    &__line {
        height: 1px;
        background: $dark-grey;
    }
}

.section-content-block {
    display: flex;
    width: calc(100% - 20px);
    padding: 20px 10px;
    flex-direction: column;
    gap: 20px;
    border-radius: 7px;
    background: $background-white;

    &__photo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__wrapper {
        display: flex;
        gap: 20px;
    }

    &__form-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 20px;
    }
}

.section-content-block-form {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    gap: 20px;

    &__information {
        position: relative;
    }
}
