@import "../_variables/variables";

.home-section {
    height: 100%;
}

.home-wrapper {
    height: 100%;
    display: flex;
}

.home {
    width: calc(100% - 340px);
    margin-left: 340px;
}

.home-content {
    display: grid;
    gap: 20px;
    padding: 20px;
}

.home-content-block {
    display: grid;
    width: calc(100% - 20px);
    padding: 20px 10px;
    gap: 20px;
    border-radius: 7px;
    background: $background-white;
}

.home-content-block-form {
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    gap: 20px;
}

.home-content-block-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home-content-saving {
    display: flex;
    flex-direction: column;
    gap: 40px;

    &__line {
        height: 1px;
        background: $dark-grey;
    }
}

.home-content-saving-button {
    display: flex;
    gap: 40px;
}

.home-content-block-structure-chapter {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__buttons {
        display: flex;
    }

    &__button {
        padding: 10px;
    }

    &__line {
        width: 2px;
        background: $dark-grey;
    }
}

.home-content-block-structure-chapter-information {
    display: flex;
    gap: 100px;

    &__chapter {
        font-weight: 600;
        font-size: 18px;
    }

    &__name {
        font-weight: 400;
        font-size: 18px;
    }
}
